[user]
    email = developer@xavi-b.fr
    name = xavi-b
[core]
    editor = nano
[color]
    ui = auto
[alias]
    co = checkout
    st = status
    ci = commit
    br = branch
    cp = cherry-pick
    fix-submodules = submodule update --recursive --init --progress
    reset-author = commit --amend --reset-author --no-edit
    graph = git log --all --graph
    swt = update-index --skip-worktree
    nswt = update-index --no-skip-worktree
    pushqtgerrit = "!f() { git push gerrit HEAD:refs/for/$1; }; f"
    config-qt = "!f() { git config --local user.email xavier.besson@qt.io; git config --local user.name 'Xavier BESSON'; }; f"
    config-xavi = "!f() { git config --local user.email developer@xavi-b.fr; git config --local user.name 'xavi-b'; }; f"
    config-gerrit = "!f() { git config --local user.email developer@xavi-b.fr; git config --local user.name 'Xavier BESSON'; }; f"
    squash-n-edit = "!f() { git reset --soft HEAD~$1 && git commit --edit -m $2; }; f"
    squash-n-last = "!f() { git reset --soft HEAD~$1 && git commit --reuse-message=HEAD@{1}; }; f"
    redatenow = "!f() { GIT_COMMITTER_DATE=\"$(date)\" git commit --amend --no-edit --date=\"$(date)\"; }; f"
    redatenow-n = "!f() { \
        [ -z \"$1\" ] && echo 'Usage: git redatenow-n <n>' && exit 1; \
        now=$(date -Iseconds); \
        GIT_SEQUENCE_EDITOR=: \
        git rebase -i HEAD~$1 --exec \"GIT_COMMITTER_DATE='$now' git commit --amend --no-edit --date '$now'\"; \
    }; f"
    redate = "!f() { [ -z \"$1\" ] && echo 'Usage: git redate <date>' && exit 1; GIT_COMMITTER_DATE=\"$1\" git commit --amend --no-edit --date \"$1\"; }; f"
[rebase]
    stat = true
[status]
    submodulesummary = 1
