[user]
    email = developer@xavi-b.fr
    name = xavi-b
[core]
    editor = nano
[color]
    ui = auto
[alias]
    co = checkout
    st = status
    ci = commit
    br = branch
    cp = cherry-pick
    fix-submodules = submodule update --recursive --init
    reset-author = commit --amend --reset-author --no-edit
    graph = git log --all --graph
    swt = update-index --skip-worktree
    nswt = update-index --no-skip-worktree
[rebase]
    stat = true
[status]
    submodulesummary = 1
