[user]
    email = developer@xavi-b.fr
    name = xavi-b
[core]
    editor = nano
[color]
    ui = auto
[alias]
    co = checkout
    st = status
    ci = commit
    br = branch
    cp = cherry-pick
[rebase]
    stat = true
[status]
    submodulesummary = 1
